/* caption styling */
main .images .legend {
    text-align: left;
    font-style: italic;
    font-size: var(--body-font-size-s);
    color: var(--color-gray-700);
}

main .images .figure {
    text-align: center;
}

main .images-list {
    display: flex;
}

@media (max-width: 900px) {
    main .images-list {
        flex-direction: column;
    }
}