main .pull-quote {
    border-left: 3px solid #367ea8;
    padding: 12px 24px;
    margin: 64px 0;
}
main .pull-quote p {
    margin: .5em 0;
}
main .pull-quote img {
    height: 96px;
    width: 96px;
    object-fit: cover;
    border-radius: 100%;
    margin: 0;
}
main .pull-quote h2,
main .pull-quote h3 {
    margin-top: 32px;
    color: #367ea8;
}