main .banner {
  opacity: 0;
  min-height: 152px;
  max-width: 600px;
  margin: 0 auto;
}

main .banner.is-loaded {
  opacity: 1;
  min-height: 0;
}

main .banner .content-wrapper {
  max-width: 600px;
  display: flex;
  padding: 16px 0;
  border-top: 2px solid var(--color-gray-300);
  border-bottom: 2px solid var(--color-gray-300);
  align-items: center;
  margin: 64px auto;
}

main .banner-text {
  margin-left: 40px;
}

main .banner img {
  width: 100px;
  max-width: unset;
}

main .banner .banner-text h3,
main .banner .banner-text p {
  margin: 0;
  padding: 0;
}

main .banner .banner-text h3 {
  font-size: var(--body-font-size-xs);
  line-height: var(--body-line-height);
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 16px 0;
}

main .banner .banner-text p {
  font-size: var(--body-font-size-s);
  margin: 16px 0;
}
