main .article-feed-container {
  visibility: unset;
}

main .article-feed-container > div {
  max-width: unset;
}

main .article-feed {
  text-align: center;
}

main .section div.article-feed-wrapper {
  margin-top: 64px;
}

main .article-feed .article-cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  padding-bottom: 0;
  justify-content: center;
  max-width: 1200px;
}

@media (min-width: 600px) {
  main .article-cards {
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 64px);
  }
}

main .article-feed .load-more {
  margin-top: 0;
  margin-bottom: 64px;
}

