main .tags {
  margin: 64px auto 0 auto;
  border-top: 1px solid var(--color-gray-200);
  max-width: 600px;
}

main .tags .tags-container {
  display: flex;
  flex-wrap: wrap;
}

main .tags .tags-container a.button {
  background: var(--color-white);
  color: var(--detail-color);
  font-weight: 400;
  border: 1px solid var(--color-gray-200);
  border-radius: 4px;
  padding: 16px;
  margin: 0 16px 16px 0;
  font-size: var(--detail-font-size-s);
  text-transform: uppercase;
  letter-spacing: .1em;
}

main .tags .tags-container a.button:hover {
  color: var(--color-info-accent);
}