main .featured-article-container > div {
  padding: 0;
}

@media (min-width: 600px) {
  main .featured-article-container > div {
    max-width: unset;
  }
}

main .featured-article-container div h1 {
  padding: 0 2rem;
  text-align: center;
}

@media (min-width: 600px) {
  main .featured-article-container div h1 {
    text-align: left;
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  main .featured-article-container div h1 {
    max-width: 1200px;
  }
}

main .featured-article {
  visibility: unset;
}

main .featured-article-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 600px) {
  main .featured-article-card {
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  main .featured-article-card {
    width: calc(100% - 64px);
    max-width: 1200px;
  }
}

main .featured-article a:any-link {
  text-decoration: none;
}

main .featured-article-card-image {
  height: 320px;
  width: 100%;
  background: var(--color-black);
}

@media (min-width: 600px) {
  main .featured-article-card-image {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  main .featured-article-card-image {
    width: 60%;
  }
}

main .featured-article-card-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: .4s;
}

main .featured-article-card-image img:hover {
  opacity: 0.6;
}

main .featured-article-card-body {
  padding: 2rem;
  text-align: center;
}

@media (min-width: 600px) {
  main .featured-article-card-body {
    width: 60%;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  main .featured-article-card-body {
    width: 40%;
  }
}

main .featured-article-card-body p,
main .featured-article-card-body h3 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

main p.featured-article-card-category,
main p.featured-article-card-category a {
  font-weight: var(--detail-font-weight);
  color: var(--detail-color);
  font-size: var(--detail-font-size-s);
  line-height: var(--detail-line-height);
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 0.5rem;
}

main .featured-article-card-body h3 {
  font-size: var(--heading-font-size-m);
  line-height: var(--heading-line-height);
  margin: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  main .featured-article-card-body h3 {
    font-size: var(--heading-font-size-xl);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

main .featured-article-card-body p:not(:first-child) {
  color: var(--color-gray-700);
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  main .featured-article-card-body p:not(:first-child) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
