main .banner-cta-container > div {
  max-width: 100%;
  padding: 0;
}
.banner-cta {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 360px;
  color: #FFF;
}

.banner-cta .background picture {
  display: block;
  position: absolute;
  inset: 0;
}

.banner-cta .background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.banner-cta .foreground {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.banner-cta .foreground > div {
  max-width: 1200px;
  margin: 0 auto;
}

.banner-cta.centered .foreground > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
}

.banner-cta .foreground p,
.banner-cta .foreground .heading {
  margin: 0 0 16px;
  max-width: 550px;
}

.banner-cta .foreground .action-area {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 24px;
  flex-wrap: wrap;
}

.banner-cta a:any-link {
  color: #FFF;
}

.banner-cta.light .cta-link,
.banner-cta.light {
  color: var(--color-gray-800);
}

.banner-cta.light .cta-link:hover,
.banner-cta.light .cta-link:focus {
  color: var(--color-black);
}
