footer {
  font-size: var(--body-font-size-xxs);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

footer .footer {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

@media (min-width: 600px) {
  footer .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* for blog */
  }
}

footer p {
  font-weight: 100;
  margin: 0;
}

footer a:any-link {
  color: var(--color-gray-700);
  text-decoration: none;
}

footer .footer-region {
  position: relative;
  width: fit-content;
  /* display: none; for biz blog */
  /* visibility: hidden; for biz blog */
} 

@media (min-width: 600px) {
  footer .footer-region {
    margin-right: 16px;
  }
}

footer .footer-region-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 6px 0;
  min-width: 120px;
}

footer .footer-region-button:hover,
footer .footer-region-button:focus {
  color: var(--color-gray-500);
}

footer .footer-region-img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

footer .footer-region-text::after {
  content: '\2228';
}

footer .footer-region-button[aria-expanded=true] .footer-region-text::after {
  content: '\2227';
}

footer .footer-region-dropdown {
  position: absolute;
  bottom: 2.2rem;
}

footer .footer-region-button[aria-expanded=false] + .footer-region-dropdown {
  visibility: hidden;
}

footer .footer-region-button[aria-expanded=true] + .footer-region-dropdown  {
  visibility: visible;
}

footer ul.footer-region-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: var(--color-white);
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  display: inline-block;
  width: 150px;
}

footer li.footer-region-option {
  margin: 1rem;
  font-size: var(--body-font-size-s);
  font-weight: 100;
}

footer li.footer-region-option:not(.footer-region-selected) a {
  display: block;
  width: 100%;
}

footer li.footer-region-option a:hover,
footer li.footer-region-option a:focus {
  color: var(--color-gray-500);
}

footer .footer-region-selected a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-region-selected a::after {
  content: ' ';
  display: block;
  margin: 0 2px;
  width: 6px;
  height: 16px;
  border: solid var(--color-info-accent);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

footer .footer-info {
  right: 0;
}

footer .footer-copyright-text {
  padding: 6px 0;
}

footer ul.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .footer-link {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
}

footer .footer-link img {
  height: 10px;
  width: 10px;
  margin-right: 4px;
}

footer .footer-link a:hover,
footer .footer-link a:focus {
  color: var(--color-gray-500);
}

footer .footer-link:not(:last-child)::after {
  content: '/';
  margin-left: 6px;
}

@media (min-width: 1200px) {
  footer .footer-info {
    display: flex;
  }

  footer .footer-copyright-text {
    margin: 0;
    margin-right: 6px;
  }

  footer .footer-copyright-text::after {
    content: '/';
    margin-left: 6px;
    font-weight: var(--body-font-weight);
  }

  footer .footer-link {
    margin-top: 6px;
  }
}