footer {
  margin-top: 2rem;
  padding: 2rem 2rem;
  background-color: #464e3d;
  font-size: 13px;
  color: #b4baab;
}

footer a:any-link {
  color: #b4baab;
  text-decoration: none;
}

footer .footer .company {
  grid-area: company;
}

footer .footer .support {
  grid-area: support;
}

footer .footer .links {
  grid-area: links;
}

footer .footer .social {
  grid-area: social;
}

footer .footer .brand {
  grid-area: brand;
}

footer .footer .legal {
  grid-area: legal;
}

footer .footer .blog {
  grid-area: blog;
}


footer .footer {
  max-width: 768px;
  margin: auto;
  display: grid;
}

footer .footer p {
  margin: 0;
}

@media (min-width: 900px) {
  footer .footer {
    grid-template-areas: 'company support blog' 'links links social' 'brand brand brand' 'legal legal legal';
  }
}



