main .tag-header {
  background-image: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0));
  margin: 50px 0;
}

main .tag-header h1 {
  margin: 0;
  padding: 16px 2rem;
  color: var(--color-white);
}

@media (min-width: 700px) {
  main .tag-header h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  main .tag-header h1 {
    max-width: calc(1200px - 2rem);
  }
}