/* below the fold CSS goes here */

/* fonts */
@font-face {
  font-family:"adobe-clean";
  src:url("https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/ad2a79/00000000000000003b9b3f8c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:900;
}

@font-face {
  font-family:"adobe-clean";
  src:url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b0c5f5/00000000000000003b9b3f85/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"adobe-clean";
  src:url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/97fbd1/00000000000000003b9b3f88/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:700;
}

/* no js treatment */

@font-face {
  font-family:"adobe-clean";
  src:url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/aa41d0/00000000000000003b9b3f86/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:400;
}

@font-face {
  font-family:"adobe-clean";
  src:url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/37eaae/00000000000000003b9b3f83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:300;
}
  
@font-face {
  font-family:"adobe-clean";
  src:url("https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/a0c22f/00000000000000003b9b3f84/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
  font-display:swap;font-style:italic;font-weight:300;
}

@font-face {
  font-family:"adobe-clean-serif";
  src:url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"adobe-clean-serif";
  src:url("https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/c8f445/00000000000000003b9aee47/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display:swap;font-style:normal;font-weight:500;
}

.tk-adobe-clean { font-family: "adobe-clean",sans-serif; }
.tk-adobe-clean-serif { font-family: "adobe-clean-serif",sans-serif; }

/* article card styles, share between blocks */

.article-card {
  cursor: pointer;
}

.article-card {
  display: flex;
  flex-direction: column;
  min-width: 268px;
  max-width: 378px;
  margin: 0 16px 32px 16px;
  text-align: left;
  text-decoration: unset;
  color: unset;
  border: 1px solid var(--color-gray-200);
  border-radius: 4px;
}

.article-card .article-card-image {
  width: 100%;
  line-height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.article-card .article-card-image img {
  object-fit: cover;
  width: 100%;
  border-radius: 3px 3px 0 0;
  position: absolute;
  height: 100%;
}

.article-card-body h3 {
  margin: 0;
  font-size: var(--body-font-size-m);
  line-height: 1.25rem;
  font-weight: 700;
  color: var(--color-gray-800);
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.75rem;
  height: unset;
}


.article-card .article-card-body p {
  color: var(--color-gray-600);
  font-size: var(--body-font-size-s);
  line-height: 1.25rem;
  height: 3.75rem;
  overflow: hidden;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  margin: 0;
}

.article-card-body p.article-card-category {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--color-gray-600);
  font-size: var(--body-font-size-xs);
  height: unset;
  line-height: 16px;
  letter-spacing: .1em;
}

.article-card .article-card-body {
  padding: 2rem;
  border-radius: 0 0 4px 4px;
  border-top: none;
  height: 11.5rem;
}

@media (min-width: 900px) {
  .article-card {
    width: calc(100%/2 - 18px);
    margin: 0 0 32px 0;
  }

  .article-card:nth-of-type(2n) {
    margin-left: 32px;
  }

  .article-card-body h3 {
    font-size: var(--body-font-size-xl);
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    max-height: unset;
  }
    
  .article-card .article-card-body p {
    font-size: var(--body-font-size-xs);
  }
  
  .article-card-body p.article-card-category {
    font-size: var(--body-font-size-xs);
  }
  
}

@media (min-width: 1200px) {
  .article-card {
    width: calc(100%/3 - 24px);
  }

  .article-card:nth-of-type(2n) {
    margin-left: 0;
  }

  .article-card:nth-of-type(3n - 1) {
    margin-left: 32px;
    margin-right: 32px;
  }
}
